<!-- 
Goldsmiths University of London
Author....: Carlos Manuel de Oliveira Alves
Student...: cdeol003
Created...: 18/12/2022
-->
<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="about">About <%=shopName%></a></li>
        <li><a href="register">Register new User</a></li>
        <li><a href="login">User Login</a></li>
        <li><a href="deleteUser">Delete a user</a></li>
        <li><a href="addFood">Add a new food</a></li>
        <li><a href="search">Search for food</a></li>
        <li><a href="updateFood">Update food</a></li>
        <li><a href="listFoods">List of foods</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
    <h1>About <%=shopName%></h1>
    <p>We sell all sorts of recipes and nothing else!</p>
  </body>
</html>