<!-- 
Goldsmiths University of London
Author....: Carlos Manuel de Oliveira Alves
Student...: cdeol003
Created...: 18/12/2022
-->
<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="about">About <%=shopName%></a></li>
        <li><a href="tvShows">TV Shows</a></li>
        <li><a href="weather">Weather</a></li>
        <li><a href="friendBook-Search">My Friend's Books</a></li>
        <li><a href="list">List of Books</a></li>
        <li><a href="addbook">Add a new book</a></li>
        <li><a href="bargains">Bargain books</a></li>
        <li><a href="listusers">List of Users</a></li>
        <li><a href="register">Register new User</a></li>
        <li><a href="login">User Login</a></li>
        <li><a href="search">Search for books</a></li>
        <li><a href="searchUsers">Search for users to delete</a></li>
        <li><a href="deleteUser">Delete a user</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
    <h1>About <%=shopName%></h1>
    <p>We sell all sorts of recipes and nothing else!</p>
  </body>
</html>