<!-- 
Goldsmiths University of London
Author....: Carlos Manuel de Oliveira Alves
Student...: cdeol003
Created...: 18/12/2022
-->
<!doctype html>
<html>
    <head>
        <title>Welcome to
            <%=shopName%></title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <h1>Welcome to
            <%=shopName%></h1>
        <ul>
            <li><a href="about">About <%=shopName%></a></li>
            <li><a href="register">Register new User</a></li>
            <li><a href="login">User Login</a></li>
            <li><a href="deleteUser">Delete a user</a></li>
            <li><a href="addfood">Add a new food</a></li>
            <li><a href="search">Search for food</a></li>
            <li><a href="updatefood">Update food</a></li>
            <li><a href="listfoods">List of foods</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </body>
</html>
