<!-- 
Goldsmiths University of London
Author....: Carlos Manuel de Oliveira Alves
Student...: cdeol003
Created...: 18/12/2022 
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Login to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body bgcolor="PeachPuff">
    <nav>
      <ul>
        <li><a href='./'>Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="login">Log In</a></li>
        <li><a href="addFood">Add Food</a></li>
        <li><a href="searchFood">Search Food</a></li>
        <li><a href="updateFood">Update Food</a></li>
        <li><a href="foodList">Food List</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
    </nav>
    <h1><%=shopName%>: Login Page</h1>
    <form method="POST" action="/loggedin">
      <p>
        Username: <input id="username" type="text" name="username" value="" />
      </p>
      <p>
        Password: <input id="password" type="text" 
        style="-webkit-text-security: circle" 
        name="password" value="" />
      </p>
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
